<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <main class="container">
        <div class="jumbotron" style="background-color: #f9f9f9; padding: 30px;">
            <h1 style="font-size: 36px; color: #333;">Welcome to <%= title %> Page</h1>
            <div class="section">
                <h2>About Me</h2>
              
                <p>My name is <strong>Shishant Neupane.</strong>. I am a 
                    <strong>Software Engineering Technician</strong> student at
                     <strong>Centennial College</strong>. I am a <strong>Web Developer</strong> and
                      <strong>Programmer</strong>. I am currently learning <strong>Java</strong> and 
                      <strong>C#</strong> programming languages. I am also learning <strong>Frontend</strong> 
                      and <strong>Backend</strong> Web Development.
                     I am aspiring to become a great <strong>Software Engineer.</strong>.</p>
            </div>
            <div class="section">
                <h2>Resume</h2>
                <p>You can download my resume by clicking the link below:</p>
                <a href="/img/CV for security.pdf" download>Download Resume</a>
            </div>
            
            
            <div class="section">
                <h2>Interests</h2>
                <p>I am interested in singing songs. 
                    Some of my Favourites are:</p>
                <ol>
                    <li>Semi Classical.</li>
                    <li>Classical.</li>
                    <li>Pop.</li>
                    <li>Nepali.</li>
                    <li>Hindi.</li>
                    

                </ol>
            </div>
            <div class="section">
                <h2>Volunteer Work</h2>
                <ol>
                    <li>I have volunteered in blood donation campaign.</li>
                    <li>I have volunteered in football game as a first-aid boy.</li>
                </ol>
            </div>
            
            <div class="section">
                <h2>Accomplishments</h2>
                <ol>
                    <li>Won essay competition.</li>   
                         <li>Participated in Robotics Competition.</li>
                    <li>Won in Drawing competiton.</li>
                </ol>
            </div>
            <div class="section">
                <h2>Personal Information</h2>
                <h4>Name: SHishant Neupane</h4>
                <h4>Age: 20</h4>
                <h4>Address: Nepal</h4>
                <h4>Phone: 1234567890</h4>
                <h4>Email: sneupan7@my.centennialcollege.ca</h4>
            </div>
            <div class="section">
                <h2>Personal Statement</h2>
                <p>Do good it will return to you.</p>
            </div>
            <div class="section">
                <h2>Goals</h2>
                <p>Want to be a proper human being.</p>
            </div>
        </div>
        
            <div class="section">
                <h2>Experience</h2>
                <ol>
                    <li>Worked as a security guard in Rogers Center.</li>
                    <li>Server in Mount Everest Restaurant</li>
                   
                </ol>
            </div>
        </div>
    </main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>