<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <main class="container">
        <div class="jumbotron" style="background-color: #f9f9f9; padding: 30px;">
            <h1 style="font-size: 36px; color: #333;">Welcome to <%= title %> Page</h1>
            <div class="section">
                <h2>Projects</h2>
                <ul>
                    <li>Robotics Competition
                        <p>Participated in Robotics Competition in United Academy.</p>
                        <p>Click <a href=https://www.facebook.com/Unitedrobotics>here</a> to try the game for yourself.</p>
                    </li>
                  
                </ul>
            </div>
            <div class="section">
                <h2>Technologies Used</h2>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>Bootstrap</li>
                    <li>jQuery</li>
                    <li>MySQL</li>
                    <li>MongoDB</li>
                    <li>Unity</li>
                    <li>Python</li>
                    <li>Java</li>
                    <li>C#</li>
                    <li>React</li>
                    <li>Angular</li>
                    
                </ul>
            </div>
        </div>
    </main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>